// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito")
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap')

*
	box-sizing: border-box

$bg-p: #000000
$bg-s: #141d2b
$color-p: #00ff2b
$color-s: #5cb2ff

$font-p: 'Source Code Pro', monospace
$font-s: 'Courier', monospace
$font-t: 'Inconsolata', monospace

html,
body,
#h3x_app__0xe000049,
#h3x_main__0xe000049
	font-family: $font-t
	border: 0px
	margin: 0px
	padding: 0px
	background: $bg-p
	height: 100%
	color: $color-p
	min-width: 350px

#h3x_app__0xe000049,
#h3x_main__0xe000049
	width: 100%

a
	color: $color-p
	text-decoration: none

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, span::selection, div::selection, p::selection
	background: $color-p
	color: $bg-p