* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 350px;
  width: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Nunito", sans-serif;
  background-color: #f2f7f8;
  font-size: 16px;
  line-height: 1.8rem;
}

@media (min-width: 992px) {
  body ::-webkit-scrollbar {
    width: 5px;
  }

  body ::-webkit-scrollbar-track {
    background: #f2f7f8;
  }

  body ::-webkit-scrollbar-thumb {
    background: #888;
  }

  body ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

#h3x_app__0xe000049 {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

@media (min-width: 992px) {
  a {
    outline: unset;
    color: #555555;
  }

  a:hover {
    color: #000000;
  }
}

@media (max-width: 992px) {
  button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}

.h3x-color-black {
  color: #000000 !important;
}

.h3x-navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #f2f7f8;
  height: 60px;
  font-size: 20px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 576px) and (max-width: 767.99999px) {
  .h3x-navbar {
    max-width: 576px;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.99999px) {
  .h3x-navbar {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .h3x-navbar {
    width: 1000px;
  }
}

.h3x-navbar .h3x-navbar-logo {
  color: #000000;
  font-weight: 500;
  padding: 8px;
}

.h3x-navbar .h3x-sidenav-toggler {
  margin-left: auto;
  background-color: transparent;
  border: 0px;
}

.h3x-navbar .h3x-sidenav-toggler .h3x-sidenav-toggler-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  color: #000;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
  .h3x-navbar .h3x-sidenav-toggler {
    display: none;
  }
}

.h3x-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto auto;
}

@media (min-width: 992px) {
  .h3x-wrapper {
    max-width: 1000px;
  }
}

#main-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 992px) {
  #main-container {
    display: flex;
  }

  #main-container nav {
    flex: 20%;
    width: unset;
    position: relative;
    font-size: 20px;
  }

  #main-container main {
    flex: 80%;
  }
}

main {
  padding: 16px 24px;
  margin-top: 60px;
  overflow-y: scroll;
  height: calc( 100% - 60px);
  margin-left: 0;
  position: relative;
  transition: transform 0.5s;
}

@media (min-width: 576px) {
  main {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.99999px) {
  main {
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.99999px) {
  main {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  main {
    height: calc( 100% - 80px);
    margin-bottom: 20px;
  }
}

footer {
  margin-top: 8px;
}

.h3x-page-scroll-progress {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0%;
  border: 1px solid #000000;
  border-left: 0px none;
  border-right: 0px none;
}

.h3x-side-nav {
  position: fixed;
  display: block;
  padding-top: 60px;
  top: 0px;
  left: 0px;
  width: 0;
  height: 100%;
  overflow-y: scroll;
  transition: 0.5s;
}

@media (min-height: 450px) {
  .h3x-side-nav {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
  }
}

.h3x-side-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.h3x-side-nav ul li {
  padding: 12px 24px;
}

.h3x-side-nav ul li a {
  display: inline-block;
}

.h3x-side-nav .h3x-side-nav-divider {
  width: 0px;
  height: 0px;
  border: 0.5px solid #333333;
}

@media (max-height: 449.9999999999px) {
  .h3x-side-nav .h3x-side-nav-divider {
    display: none;
  }
}

.h3x-font-weight-bold {
  font-weight: 700 !important;
}

.h3x-text-muted {
  color: #6c757d !important;
}

.h3x-cursor-pointer {
  cursor: pointer;
}

.h3x-img-responsive {
  width: 100% !important;
}

.h3x-text-align-right {
  text-align: right !important;
}

.h3x-border-none {
  border: 0px none;
}

.h3x-section-divider {
  margin: 10px 0px;
}

.h3x-seperator {
  margin: 20px 0px;
}

.h3x-svg-font {
  display: inline-flex;
  align-self: center;
}

.h3x-svg-font svg,
.h3x-svg-font img {
  height: 1em;
  width: 1em;
  top: 0.125em;
  position: relative;
}

.h3x-d-inline-block {
  display: inline-block !important;
}

.h3x-section {
  margin-bottom: 40px;
}

.h3x-section:last-child {
  margin-bottom: 20px;
}

.h3x-section p {
  text-align: justify;
  color: #333333;
}

.h3x-section p.h3x-text-align-right {
  direction: rtl !important;
  text-align: justify !important;
}

.h3x-section .h3x-section-title {
  margin-top: 20px;
  font-weight: 600;
}

#profile-picture {
  border-radius: 5px;
}

.h3x-more-info-link {
  border-bottom: 1px solid #000000;
  color: #000000;
  font-weight: 600;
}

.h3x-overflow-hidden {
  overflow: hidden;
}

.h3x-embeds {
  width: 100%;
  margin: 20px 0px 10px;
}

.h3x-mb-20 {
  margin-bottom: 20px;
}

.h3x-mb-0 {
  margin-bottom: 0px !important;
}

.h3x-article-preview {
  padding: 30px 0px 10px;
}

.h3x-article-preview .h3x-article-preview-image {
  border-radius: 5px;
  width: 100%;
}

.h3x-project-preview {
  padding: 30px 0px 10px;
}

.h3x-project-preview .h3x-project-preview-image {
  border-radius: 5px;
  width: 100%;
}

.h3x-skill-container {
  margin: 20px 0px 40px;
}

.h3x-skill-container .h3x-skill {
  margin: 10px 0px;
}

.h3x-skill-container .h3x-skill .h3x-skill-info {
  font-size: 14px;
  display: flex;
  color: #555555;
}

.h3x-skill-container .h3x-skill .h3x-skill-info .h3x-skill-progress-label {
  margin-left: auto;
}

.h3x-skill-container .h3x-skill .h3x-skill-bar {
  width: 100%;
  height: 5px;
  position: relative;
  border: 1px solid #000000;
}

.h3x-skill-container .h3x-skill .h3x-skill-bar .h3x-skill-progress {
  width: 0%;
  background: #000000;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.h3x-contact-social-link {
  padding: 20px 0px 10px;
  list-style: none;
  margin: 0px;
}

.h3x-contact-social-link li {
  display: inline-block;
  font-size: 30px;
  padding: 0px 10px;
}

.h3x-contact-social-link li:first-of-type {
  padding-left: 0px;
}

.h3x-fake-footer {
  padding: 0px 24px 16px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.h3x-error-container .h3x-error-status {
  margin: 0px 0px 40px;
  font-size: 100px;
}

.h3x-error-container .h3x-error-info {
  font-size: 14px;
}

@media (min-width: 768px) {
  .h3x-error-container .h3x-error-info {
    font-size: 24px;
  }
}

.h3x-form {
  margin-top: 20px;
}

.h3x-form label {
  font-weight: bold;
}

.h3x-form input,
.h3x-form textarea {
  font-family: "Nunito", sans-serif;
  outline: none;
  margin: 10px 0px 0px;
  display: block;
  width: 100%;
  height: 50px;
  padding: 5px;
  font-size: 16px;
  border: 0.5px solid #ebebeb;
  border-radius: 3px;
}

@media (min-width: 992px) {
  .h3x-form input,
  .h3x-form textarea {
    padding-left: 10px;
  }
}

.h3x-form .h3x-input-disable-on-nav {
  background-color: #ffffff;
}

.h3x-form small {
  display: block;
  margin-bottom: 10px;
  color: #6c757d;
}

.h3x-form textarea {
  height: unset;
}

.h3x-form button {
  position: relative;
  display: block;
  margin: 10px 0px 0px;
  font-family: "Nunito", sans-serif;
  min-height: 40px;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  color: #000000;
  background-color: transparent !important;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: color 0.5s;
}

.h3x-form button:hover {
  color: #ffffff;
}

.h3x-form button:hover::after {
  width: 100%;
}

.h3x-form button::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  background-color: #000000;
  border-radius: 5px;
  width: 0%;
  min-height: 40px;
  transition: width 0.5s;
}

@media (min-width: 992px) {
  .h3x-form button {
    text-align: center;
    width: 50%;
  }
}

