@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;

700&display=swap);* {
  box-sizing: border-box;
}

html,
body,
#h3x_app__0xe000049,
#h3x_main__0xe000049 {
  font-family: "Inconsolata", monospace;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: #000000;
  height: 100%;
  color: #00ff2b;
  min-width: 350px;
}

#h3x_app__0xe000049,
#h3x_main__0xe000049 {
  width: 100%;
}

a {
  color: #00ff2b;
  text-decoration: none;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, span::-moz-selection, div::-moz-selection, p::-moz-selection {
  background: #00ff2b;
  color: #000000;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
span::selection,
div::selection,
p::selection {
  background: #00ff2b;
  color: #000000;
}

